/chapter4/nbproject/private/
/chapter4/build/
/chapter6/nbproject/private/
/chapter5/target/
/chapter5/nbproject/private/
/chapter7/nbproject/private/
/chapter7/build/
/chapter8/nbproject/private/
/chapter9/target/
/chapter10/target/
/chapter5/build/
/chapter8/build/
/chapter11/target/
/advanced/chapter11/target/
/advanced/chapter12/nbproject/private/
/advanced/chapter13/nbproject/private/
/advanced/chapter14/nbproject/private/
/advanced/chapter15/nbproject/private/
/advanced/chapter16/nbproject/private/
/advanced/chapter12/build/
/advanced/chapter13/build/
/advanced/chapter17/nbproject/private/
/advanced/chapter18/nbproject/private/
/advanced/chapter15/build/
/advanced/chapter16/build/
/advanced/chapter17/build/
/advanced/chapter18/build/
/Beginner/chapter6/build/
/advanced/chapter14/build/
